$--base-width: var(--base-width);
$--font-size: var(--font-size);
$--active-color: var(--active-color);
$--page-bg-color: var(--page-bg-color);
$--input-bg-color: var(--input-bg-color);
$--sep-color: var(--sep-color);
$--font-color: var(--font-color);
$--base-color: var(--base-color);
$--tag-dock-visible: var(--tag-dock-visible);
$--gap-color: var(--gap-color);
$--input-height: var(--input-bg-color);

* {
  font-size: $--font-size;
}

// -----------------滚动条样式----------------
@mixin scroll-style {
  /* 设置滚动条的样式 */
  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  /* 滚动槽 */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgb(179, 188, 201);
  }
  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $--base-color;
  }
  /* 设置滚动条的样式 */
  &::-moz-scrollbar {
    width: 1px;
    height: 0px;
  }
  /* 滚动槽 */
  &::-moz-scrollbar-track {
    border-radius: 5px;
    background: rgb(9, 35, 92);
  }
  /* 滚动条滑块 */
  &::-moz-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(21, 126, 201);
  }
}

body {
  position: relative;
  color: $--font-color !important;
  background-color: var(--page-bg-color);
}
a {
  color: $--base-color;
}
.page {
  flex: 1;
  padding: 1em 0em;
  box-sizing: border-box;
}

a.icon,
a.btn {
  cursor: pointer;
  span,
  svg {
    pointer-events: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
.center {
  margin: 0em auto;
}
details {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  background-color: $--input-bg-color;
}
.form-item {
  display: flex;
  margin: 1em 0em;
  gap: .5em;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5em;
  }
  details {
    flex: 1;
  }
  summary {
    cursor: pointer;
  }
}
button {
  appearance: none;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  color: #fff;
  cursor: pointer;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

button.submit {
  width: 100%;
  background-color: $--base-color;
}

button.danger {
  width: 100%;
  background-color: rgb(175, 67, 67) !important;
}

input,
select,
textarea {
  flex: 1;
  display: block;
  max-width: 100%;
  outline: none;
  padding: 0.7em;
  border-radius: 5px;
  appearance: none;
  color: $--font-color;
  border: 1px solid var(--gap-color);
  background: var(--input-bg-color);
  background-image: none;
}
input,
textarea {
  &:focus-visible{
    border-color: var(--base-color);
  }
  &.disable {
    border: none !important;
  }
}

html {
  @include scroll-style();
}
#readability-page-1 {
  img {
    display: block;
    max-width: $--base-width;
    margin: 1em auto;
    border-radius: 0.2em;
  }
  code {
    display: block;
    width: 100%;
    background: var(--input-bg-color);
    padding: 0.5em;
    margin: 1em auto;
    box-sizing: border-box;
    border-radius: 0.2em;
    overflow: auto;
  }
}
// 覆盖element样式
:deep(.el-select) {
  .el-select__popper {
    width: var(--base-width) !important;
    overflow: hidden;
    background: transparent !important;
  }
}

:deep(.el-pagination) {
  button {
    color: #fff;
    background-color: $--base-color !important;
  }
}
:deep(.el-pager) {
  li {
    color: $--font-color !important;
    background-color: $--input-bg-color !important;
  }
  .is-active {
    color: #fff !important;
    background-color: $--base-color !important;
  }
}

:deep(.el-select) {
  .el-select__wrapper {
    background-color: transparent;
  }
}

:deep(.el-scrollbar) {
  width: var(--base-width);
}

:deep(.el-tag) {
  background-color: transparent;
}

:deep(.el-scrollbar) {
  background: $--input-bg-color;
}
