$--base-width: 620px;
$--font-size: 13px;
$--active-color: rgb(37 131 215);
$--page-bg-color: #fff;
$--input-bg-color: #e3e8ee57;
$--sep-color: #efe6e6;
$--font-color: #585353;
$--base-color: rgb(44 156 204);
$--tag-dock-visible: block;
$--gap-color: #c4cfd1;
$--input-height: 1.2em;


a {
  color: $--base-color;
}
.page {
  flex: 1;
}

a.icon,
a.btn {
  cursor: pointer;
  span,
  svg {
    pointer-events: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
button.submit {
  width: 100%;
  appearance: none;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background-color: $--base-color;
}

input,
select,
textarea {
  flex: 1;
  display: block;
  max-width: 100%;
  outline: none;
  padding: 0.5em;
  border: 1.5px solid $--base-color;
  border-radius: 5px;
  appearance: none;
  color: $--font-color;
  background: --input-bg-color;
  background-image: none;
}
